<header id='home'>
    <div class='container header__container'>
        <h5>Hello I'm</h5>
        <h1>Ardonit Saliji</h1>
        <h5 class='text-light profession'>Software developer</h5>
        <div class='cta'>
            <a download class='btn'>
                Download CV
            </a>
            <a href='#contact' class='btn btn-primary'>
                Contact Me
            </a>
        </div>
        <div class='header_socials'>
            <a
              href='https://www.linkedin.com/in/ardonit-saliji-61b2ba1b6/'
              target='_blank'
              rel='noreferrer'
            >
            <ng-icon class="socials" name="bootstrapLinkedin"></ng-icon>  
            </a>
            <a href='https://github.com/ArdonitSaliji' target='_blank' rel='noreferrer'>
                <ng-icon class="socials" name="bootstrapGithub"></ng-icon>            
            </a>
          </div>
        <div class='me'>
            <img src='assets/me1.jpeg' alt='me' />
        </div>
        <a href='#contact' class='scroll__down'>
            Scroll Down
        </a>
    </div>
</header>