<section id='about'>
    <h5>Get To Know</h5>
    <h2>About Me</h2>

    <div class='container about__container'>
        <div class='about__me'>
            <div class='about__me-image'>
                <img src='assets/me1.jpeg' alt='About' />
            </div>
        </div>
        <div class='about__content'>
            <div class='about__cards'>
                <article class='about__card'>
                    <ng-icon class="about__icon" name="lucideMedal"></ng-icon>   

                    <h5>Experience</h5>
                    <small>3+ Years</small>
                </article>

                <article class='about__card'>
                    <ng-icon class="about__icon" name="bootstrapFolder2"></ng-icon>   

                    <h5>Projects</h5>
                    <small>20+ Completed Projects</small>
                </article>
            </div>
            <p>
                Hi, my name is Ardonit Saliji, I am an ambitious Software Developer from
                North Macedonia.
            </p>
            <a href='#contact' class='btn btn-primary'>
                Contact me
            </a>
        </div>
    </div>
</section>